@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');

.font2 {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: normal;
  }